.home-container {

  .title {
    color: #282c34;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
  }

  .horizontal-scroll-tags {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: azure;
  }

  .main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;

    .left-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .headline {
        font-size: 33px;
        span {
          color: #61dafb;
        }
      }
      .sub-headline {
        margin: 0 3em;
      }
      .action-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100px;
        width: 100%;
        padding-left: 10em;
      }
    }

    .right-block {
      background: aquamarine;
      height: 100%;
      width: fit-content;

      img {
        height: 100%;

      }
    }
  }
}